@import '~antd/dist/antd.css';
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* img {
    display: block;
    max-width: 100%;
} */

body, input, button, textarea, select {
    outline: none;
    font-size: 12px;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
}

input {
    line-height: normal;
}

button {
    cursor: pointer;
}

.cardC {
    text-align: center;
    border-radius: 8px;
}

.cardC img {
    width: 350px;
    height: 300px;
    display: block;
}

.ant-col:last-child {
    margin-right: 72px;
}

.modal {
    text-align: right;
    padding-right: 5%;
    padding-bottom: 2%;
}